.warpper {
  display: flex;
  background-color: white;
  color: floralwhite;
  width: 100%;
  height: 100vh;
}

.login {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #070C24 !important;
  height: 100vh;
}

.item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.full-width {
  width: 195px;
}

.side-bar {
  background-color: #070C24;
  width: 15%;
  min-width: 250px;
  height: 100%;
}

.content {
  display: block;
  min-width: 600px;
  width: 100%;
}

.body {
  width: 100%;
  min-width: 900px;
  /*height: 100%;*/
  overflow: scroll;
}

.spread-sheet {
  margin-top: 50px;
  /*width: calc(100% - 3em);*/
}

.hidden {
	display: none;
}

.bar {
  top: 0;
  /*margin: 0.5em 1.5em 0em;*/
  width: 100%;
  height: 40px;
  /*background-color: #222327;*/
  float: right;
  border-top: 1px solid;
  border-color: #a5a5a5;
  /*position: sticky;*/
}
/*
color1
 */
